body {
  font-family: Verdana, Arial, sans-serif;
}
h1 {
  text-align: center;
}
table {
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  width: 100%;
  table-layout: fixed;
}
td {
  padding: 6px;
  border-bottom: 1px solid gray;
}
th {
  background-color: #b7d0ff;
  font: bold;
  padding: 12px 0px 12px 6px;
  border-bottom: 2px solid gray;
}
tr {
  padding: 6px;
  border-bottom: 1px solid gray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
center {
  margin: auto;
  padding: 60px;
  width: 60%;
}
